h1 {
    font-family: 'Tulpen One', cursive;
}

.nameplate h1 {
    font-family: 'Megrim', cursive;
    color: antiquewhite;
    margin: 3.5em 0 0em 0;
}

.nameplate-sm h1 {
    font-family: 'Megrim', cursive;
    color: antiquewhite;
    margin-top: -1.5em;
    font-size: 2em;
}

footer h1 {
    font-size: 1.5em;
    color: antiquewhite;
}

footer p {
    font-size: .8em;
    color: antiquewhite;
}

h2 {
    font-family: 'Tulpen One', cursive;
    font-size: 3em
}

h4 {
    font-family: 'Tulpen One', cursive;
    font-size: 5em;
    color: antiquewhite;
    text-shadow: -.25px 0 black, 0 .25px black, .25px 0 black, 0 -.25px black;
}

h5 {
    font-family: 'Tulpen One', cursive;
    font-size: 3em;

}

.caption-overlay h5 {
    font-family: 'Tulpen One', cursive;
    font-size: 3em;
    color: antiquewhite;
    text-shadow: -.25px 0 black, 0 .25px black, .25px 0 black, 0 -.25px black;
    text-align: right;
}


.card-body h5 {
    margin-bottom: 0em;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}

.nameplate p {
    font-family: 'Megrim', cursive;
    color: antiquewhite;
    opacity: 0.3;
    padding-bottom: 10em;
}

.nameplate-sm p {
    font-family: 'Megrim', cursive;
    color: antiquewhite;
    opacity: 0.3;
}

.lots-of-text h1 {
    color: antiquewhite;
}


.lots-of-text p {
    color: antiquewhite;
}


#streetwear-tab {
    outline: none !important;
    box-shadow: none;
}

#workwear-tab {
    outline: none !important;
    box-shadow: none;
}

#formalwear-tab {
    outline: none !important;
    box-shadow: none;
}

th {
    font-family: 'Nunito Sans', sans-serif;
}

td {
    font-family: 'Nunito Sans', sans-serif;
    color: antiquewhite;
}

.nav-link {
    color: antiquewhite;
}

.card-body .nav-link {
    color: slategray;
}

a:hover {
    color: antiquewhite;
    opacity: 0.7;
}

.article-image-tall {
    position: relative;
    width: 100%;
    height: auto;
}

.caption-overlay-bg {
    position: absolute;
    bottom: 0em;
    left: 0em;
    width: 100%;
    height: 33%;
    background-color: black;
    opacity: 0.7;
}

.caption-overlay {
    position: absolute;
    bottom: 0em;
    width: 100%;
    height: 20%;
}

.lots-of-text {
    background-color: black;
}

.navbar {
    background-color: black;
}

.card-header {
    background-color: transparent;
}

.form-control {
    border: none;
    border-bottom: 1px solid antiquewhite;
    background-color: black;
    opacity: 0.7;
}

.navbar-toggler {
    outline: none !important;
    box-shadow: none;
}

.jumbotron {
    background-color: black;
}

.nameplate {
    height: 43em;
    text-align: center;
}

.nameplate-sm {
    text-align: center;
}

.btn-primary {
    color: antiquewhite;
    background-color: transparent;
    border-color: antiquewhite;
  }

.btn-primary:hover {
    color: #212529;
    background-color: antiquewhite;
    border-color: #212529;
}

.form-inline .btn {
    color: antiquewhite;
    background-color: transparent;
    border-color: antiquewhite;
}

.form-inline .btn:hover {
    color: black;
    background-color: antiquewhite;
    border-color: antiquewhite;
}

footer {
    background-color: black;
}

.button-simple {
    text-align: left;
    vertical-align: top;
    border: 0px;
    padding: 0rem 0rem;
    font-size: 1rem;
    line-height: 0;
    border-radius: .25rem;}

.spacer {
    height: 3.2em;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {



}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {


    .caption-overlay h5 {
        font-size: 5em;
    }
    

.carousel-caption {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: 17em;
    background-color: black;
    opacity: 0.4;
    text-align: center;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {


    .caption-overlay h5 {
        font-size: 5em;
    }


.carousel-caption {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: 21em;
    background-color: black;
    opacity: 0.4;
    text-align: center;
}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .caption-overlay h5 {
        font-size: 5em;
    }



.carousel-caption {
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: 25em;
    background-color: black;
    opacity: 0.4;
    text-align: center;
}
    
}

/* font-family: 'Megrim', cursive;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Gruppo', cursive;
font-family: 'Forum', cursive;
font-family: 'Tulpen One', cursive;
font-family: 'Bungee Hairline', cursive;
*/