/* 
font-family: 'Bowlby One SC', cursive;
font-family: 'Bungee', cursive;
font-family: 'Unica One', cursive; 
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
*/

h1 {
    font-family: 'Bowlby One SC', cursive;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.jumbotron {
    background-color: white;
    margin-bottom: 0vw;
}

#tankGirl {
    width: 20vw;
    height: 20vw;
    background-color: aqua;
    display: none;
}

#leftCanvas {
    width: 21vw;
    height: 21vw;
    /* border: 1px solid #d3d3d3; */
    background-color: white;
}

#middleCanvas {
    width: 21vw;
    height: 21vw;
    border: 1px solid #d3d3d3;
    background-color: white;
}

#rightCanvas {
    width: 21vw;
    height: 21vw;
    /* border: 1px solid #d3d3d3; */
    background-color: white;
}

.btn {
    margin-top: 1vw;
    color: #000;
    background-color: #fff;
    border-color: #000;
    outline: none;
    box-shadow: none;
}

.btn:hover {
    background-color: #212529;
    border-color: #212529;
    outline: none;
    box-shadow: none;
}
